* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
  font-family: minerva-modern;
  src: url(https://use.typekit.net/af/2d15e1/00000000000000003b9afd25/27/l?subset_id=2&fvd=n4&v=3);
}

body{
    margin-left: 10%;
    margin-right: 10%;
    font-family: minerva-modern;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem;
}

.mid-header {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.mid-header div {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.mid-header div a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.right-header {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.right-header a {
    display: flex;
    justify-content: center;
    width: 10rem;
    text-decoration: none;
    color: black;
}

.right-header div {
    width: 11rem;
    height: 3.5rem;
    background-color: black;
}

.right-header div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 3.5rem;
    text-decoration: none;
    color: white;
}

.left-header {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-between;
}
